add_newline = true

[line_break]
disabled = true

[character]
error_symbol = "[❯](bold red)"
success_symbol = "[❯](bold green)"

[git_status]
disabled = true

[package]
disabled = true

[python]
disabled = true
